{% extends "common/layout.html" %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading"><a href="{{ url_for('admin.article') }}">New Article</a></div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.title }}</td>
                <td>{{ article.created_at }}</td>
                <td><a href="{{ url_for('admin.article', id=article.id) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td><a href="{{ url_for('admin.delete_article', id=article.id) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
