[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-migrate = "==2.4.0"
flask-cors = "==3.0.7"
flask-security = "==3.0.0"
flask-sqlalchemy = "==2.3.2"
sqlalchemy-utils = "==0.32.21"
python-slugify = "==1.2.4"
PyMySQL = "==0.7.11"
bcrypt = "==3.1.4"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
