## The following requirements were added by pip freeze:
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pkg-resources==0.0.0
PyMySQL==0.7.11
SQLAlchemy==1.1.15
Werkzeug==0.12.2
decorator==4.1.2
pbr==3.1.1
six==1.11.0
sqlparse==0.2.4
Tempita==0.5.2
